/* Début des variables */
:root {
    --black: black;
    --orange: orange;
}
/* Fin des variables */
/* Debut section header */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--black) ;
}
.logoImage{
    width: 200px;
}
/* End section header */

/* Begin section Nav */

#pills-tab{
    background-color: var(--black) !important;
}


.nav-link{
    color: var(--orange) !important;
    font-weight: bold;
}

#pills-tab .active{
    background-color: var(--orange) !important;
    color: white !important;
}
/* Begin section Nav */
/* Debut code css du footer */
.container_footer{
    background-color: var(--black)!important;
}
/* Fin code css du footer */